* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    --content-color: #fff;
    --accent-color: #4DA6FF;
    --bg-color: #e0e0e0;
    --card-accent-color: yellow;
}

h1, h2, h3, h4, h5, h6, 
input, button, textarea, select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

form, div, nav, ul, li {
    border: 1px solid red; /* temporary for grid visualization */
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr; /*change min to 'max-content' later*/
    grid-template-rows: 1fr 4fr;

    height: 100dvh; /* temporary for grid visualization*/
}

/* sidebar */
.sidebar {
    grid-row: 1 / -1;
    
    padding: 10px;

    color: #fff;
    background-color: var(--accent-color);
}

.sidebar-logo {
    margin-bottom: 20px;
    
    font-size: 1.6rem;
    font-weight: 700;
}

.sidebar-logo a {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.sidebar-logo img {
    width: 2.5rem;
}

.nav-section {
    display: grid;
    gap: 10px;
    justify-items: start;

    font-size: 1.2rem;
    font-weight: 700;
}

.nav-section + .nav-section {
    margin-top: 20px;
}

.nav-section a {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.nav-section img {
    width: 1.2rem;
} 

/* header */
.header {
    padding: 10px 30px 10px 20px;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    gap: 10px;

    background-color: var(--content-color);
}

.header-user-info-small,
.header-btns-container {
    justify-self: end;    
}

.header-search {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
}

.header-search img {
    width: 1.2rem;
}

.search-bar {
    background-color: var(--bg-color);

    padding: 5px 10px;
    border: none;
    border-radius: 1rem;

    font-size: 1rem;   
}

.search-bar:focus {
    outline: 2px  solid var(--accent-color);
    outline-offset: -2px;
}


.header-user-info-small {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.header-user-info-large {
    display: grid;
    justify-self: start;
}

.header-btns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.header-btns-container > .header-btn {
    color: #fff;
    background-color: var(--accent-color);
}

/* main-content */
.main-content {
    padding: 20px 10px;
    
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);    
    gap: 10px;
    
    background-color: var(--bg-color);
}

.project-card,
.ann-board,
.trend-board {
    background-color: var(--content-color);
}

.content-projects {
    grid-row: 1 / -1;
}

.projects-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.project-card {
    padding: 10px;
}

.ann-board {
    padding: 10px;
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trend-board {
    padding: 10px;
    
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
