* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

div, nav, ul, li {
    border: 1px solid red; /* temporary for grid visualization */
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: 1fr 4fr;

    height: 100dvh; /* temporary for grid visualization*/
}

/* sidebar */
.sidebar {
    grid-row: 1 / -1;
    
    padding: 10px;

    color: #fff;
    background-color: #4DA6FF;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
}

.navigation ul {
    display: grid;
    gap: 10px;
}

ul {
    margin-top: 20px;

    font-size: 1.2rem;
    font-weight: 700;
}

/* header */
.header {
    background-color: #fff;
}

/* main-content */
.main-content {
    grid-row: 2 / -1;
    
    background-color: #e0e0e0;
}