* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --content-color: #fff;
    --accent-color: #4DA6FF;
    --bg-color: #e0e0e0;
    --card-accent-color: orange;
}

h1, h2, h3, h4, h5, h6, 
input, button, textarea, select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

/* temporary for grid visualization */
* {
    outline: 1px solid red; 
}

.container {
    display: grid;
    grid-template-columns: minmax(min-content, 280px) 1fr;
    grid-template-rows: min-content 1fr;

    height: 100dvh;
}

.icon-btn {
    background: none;
    border: none;
    line-height: 0;
}

.avatar {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

/* SIDEBAR */
.sidebar {
    grid-row: 1 / -1;
    
    padding: 16px;
    padding-right: 24px;

    color: #fff;
    background-color: var(--accent-color);
}

.sidebar a {
    display: grid;
    grid-template-columns: min-content 1fr; 
    align-items: center;

    width: min-content;
}

/* sidebar logo */
.sidebar-logo {
    gap: 10px;
    
    margin-bottom: 30px;
    
    font-size: 1.6rem;
    font-weight: 700;
}

.sidebar-logo img {
    width: 2.5rem;
}

/* sidebar nav */
.nav-section {
    display: grid;
    gap: 10px;

    font-size: 1.2rem;
    font-weight: 700;

    padding-left: 10px;
}

.nav-section + .nav-section {
    margin-top: 40px;
}

.nav-section a {
    gap: 20px;
}

.nav-section img {
    width: 1.2rem;
} 

/* HEADER */
.header {
    display: grid;
    grid-template-columns: 2fr min-content;
    align-items: center;
    gap: 20px;

    background-color: var(--content-color);
    
    padding: 16px 40px;
    
    font-weight: 700;
}

.header-user-info,
.header-btns-container {
    justify-self: end;    
}

.header-search {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
}

.header-search img {
    width: 1.5rem;
}

.search-bar {
    background-color: var(--bg-color);

    padding: 5px 10px;
    border: none;
    border-radius: 2rem;

    font-weight: 400;
}

.search-bar:focus {
    outline: 2px  solid var(--accent-color);
    outline-offset: -2px;
}

.header-user-info {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;
    gap: 20px;
}

.notif-switch {
    width: 1.5rem;
}

.user-avatar-small {
    width: 2.5rem;
}

.header-user-greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
}

.header-user-greeting .user-avatar-large {
    width: 4rem;
}

.header-user-greeting p {
    font-size: 0.8rem;
}

.header-user-greeting .user-name {
    font-size: 1.2rem;
}

.header-btns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.header-btns-container > .header-btn {
    color: #fff;
    background-color: var(--accent-color);

    width: 100px;
    padding: 6px;
    border: none;
    border-radius: 2rem;
}

/* MAIN CONTENT */
.main-content {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, min-content);    
    gap: 10px;
    
    padding: 20px 10px;

    background-color: var(--bg-color);
}

.project-card,
.ann-board,
.trend-board {
    background-color: var(--content-color);
    border-radius: 5px;
}

/* projects */
.content-projects {
    grid-row: 1 / -1;
}

.projects-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
}

.project-card {
    display: grid;
    align-content: space-between;
    gap: 10px;

    border-left: var(--card-accent-color) solid 5px;

    padding: 10px;
}

.project-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-btns-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 10px;
}

.card-btn img{
    width: 1.2rem;
}

/* announcements*/
.ann-board {
    display: grid;    
    padding: 15px;
}

.ann-wrapper {
    padding: 10px;
}

.ann-wrapper:first-child {
    padding-top: 0px;
}

.ann-wrapper:last-child {
    padding-bottom: 0px;
}

.ann-wrapper + .ann-wrapper {
    border-top: 2px solid var(--bg-color);
}

.ann-wrapper h4 {
    font-size: 1.1rem;
    font-weight: 700;
}

.ann-wrapper p {
    font-size: 0.9rem;
}

/* trending */
.trend-board {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    padding: 10px;
}

.trend-project {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
}

.trend-project img {
    width: 2.5rem;
}