* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --main-color: #fff;
    --accent-color: #4DA6FF;
    --bg-color: #e0e0e0;
    --shadow-color: rgb(80 80 80 / 50%);
    --card-accent-color: #ffa500;
}

h1, h2, h3, h4, h5, h6, 
input, button, textarea, select {
    font: inherit;
}

p {
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: minmax(min-content, 240px) 1fr;
    grid-template-rows: min-content 1fr;

    height: 100dvh;
}

.icon-btn {
    background: none;
    border: none;
    border-radius: 8px;
    padding: 4px;
    line-height: 0;
}

.icon-btn:hover {
    outline: var(--shadow-color) 1px solid;
}

.avatar {
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

a:hover,
.header-btn:hover {
    text-decoration: underline;
}

/* HEADER */
.header {
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 20px;

    padding: 12px 60px 12px 40px;
    box-shadow: var(--shadow-color) 0px 5px 5px;

    background-color: var(--main-color);
    
    font-weight: 600;

}

.header-user-info-small,
.header-btn-container {
    justify-self: end;    
}

.user-name {
    font-weight: 700;
}

/* header search */
.header-search {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 12px;
}

.header-search img {
    width: 1.375rem;
}

.search-bar {
    background-color: var(--bg-color);

    padding: 4px 12px;
    border: none;
    border-radius: 2rem;

    font-weight: 400;
}

.search-bar:hover {
    outline: 1px solid var(--shadow-color);
}

.search-bar:focus {
    outline: 2px solid var(--accent-color);
}

/* header user info small*/
.header-user-info-small {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;
    gap: 24px;

    font-size: 1.125rem;
}

.header-user-info-small .user-avatar {
    width: 2.5rem;
}

.notif-btn img {
    width: 1.25rem;
}

/* header user info large */
.header-user-info-large {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 12px;

    font-size: 0.875rem;
}

.header-user-info-large .user-avatar {
    width: 3.125rem;
}

.header-user-info-large .user-name {
    font-size: 1.25rem;
}

/* header buttons */
.header-btn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.header-btn {
    width: 100px;

    border: none;
    border-radius: 2rem;
    padding: 6px;

    color: #fff;
    background-color: var(--accent-color);
}

/* SIDEBAR */
.sidebar {
    grid-row: 1 / -1;
    
    padding: 12px;
    padding-right: 24px;

    color: #fff;
    background-color: var(--accent-color);

    font-weight: 600;
}

.sidebar a {
    display: grid;
    grid-template-columns: min-content 1fr; 
    align-items: center;

    width: min-content;

    line-height: 0;
}

/* sidebar logo */
.sidebar-logo {
    gap: 10px;   
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.sidebar-logo img {
    width: 2.5rem;
}

/* sidebar nav */
.sidebar-nav {
    margin-left: 6px;
}

.nav-section {
    display: grid;
    gap: 14px;
    font-size: 1.125rem;
}

.nav-section + .nav-section {
    margin-top: 48px;
}

.nav-section a {
    gap: 20px;
    padding: 4px;
}

.nav-section img {
    width: 1.125rem;
} 

/* CONTENT */
.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 20px;

    padding: 20px;

    background-color: var(--bg-color);
}

.content h2 {
    font-size: 1.25rem;
    font-weight: 600;
    
    margin-bottom: 10px;
}

.project-card,
.ann-board,
.trend-board {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--main-color);
    box-shadow: var(--shadow-color) 5px 5px 5px;
}

.project-card p,
.ann-board p,
.trend-project-name {
    color: #505050;
}

/* projects */
.content-projects {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.projects-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

.project-card {
    display: grid;
    align-content: space-between;
    gap: 16px;

    border-left: var(--card-accent-color) solid 10px;
}

.project-card h3 {
    font-weight: 700;
    font-size: 1.125rem;
}

.card-btns-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 20px;
}

.card-btn img {
    width: 1.5rem;
}

/* announcements*/
.ann-board {
    display: grid;
    font-size: 0.875rem;
}

.ann-wrapper {
    padding: 10px;
}

.ann-wrapper:first-child {
    padding-top: 0px;
}

.ann-wrapper:last-child {
    padding-bottom: 0px;
}

.ann-wrapper + .ann-wrapper {
    border-top: 2px solid var(--bg-color);
}

.ann-wrapper h4 {
    font-weight: 700;
}

/* trending */
.trend-board {
    display: grid;
    gap: 20px;
}

.trend-project {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 12px;
}

.trend-project img {
    width: 2.5rem;
}

.trend-user-name {
    font-weight: 600;
}