* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    --content-color: #fff;
    --accent-color: #4DA6FF;
    --bg-color: #e0e0e0;
    --card-accent-color: yellow;
}

h1, h2, h3, h4, h5, h6, 
input, button, textarea, select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

form, div, nav, ul, li, a {
    border: 1px solid red; /* temporary for grid visualization */
}

button:hover {
    cursor: pointer;
}


.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr; /*change min to 'max-content' later*/
    grid-template-rows: min-content 1fr;

    height: 100dvh; /* temporary for grid visualization*/
}

/* SIDEBAR */
.sidebar {
    grid-row: 1 / -1;
    
    padding: 10px;

    color: #fff;
    background-color: var(--accent-color);
}

.sidebar-logo {
    margin-bottom: 20px;
    
    font-size: 1.6rem;
    font-weight: 700;
}

.sidebar-logo a {
    display: grid;
    grid-template-columns: min-content 1fr; 
    align-items: center;
    gap: 10px;
    
    width: min-content;
}

.sidebar-logo img {
    width: 2.5rem;
}

.nav-section {
    display: grid;
    justify-items: start;
    gap: 10px;

    font-size: 1.2rem;
    font-weight: 700;
}

.nav-section + .nav-section {
    margin-top: 20px;
}

.nav-section a {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
}

.nav-section img {
    width: 1.2rem;
} 

/* HEADER */
.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: space-between;
    align-items: center;
    gap: 30px 20px;
    
    background-color: var(--content-color);

    padding: 10px;
}

.header-user-info,
.header-btns-container {
    justify-self: end;    
}

.header-search {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
}

.header-search img {
    width: 1.2rem;
}

.search-bar {
    background-color: var(--bg-color);

    padding: 5px 10px;
    border: none;
    border-radius: 1rem;

    font-size: 1rem;   
}

.search-bar:focus {
    outline: 2px  solid var(--accent-color);
    outline-offset: -2px;
}

.header-user-info {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    align-items: center;
    gap: 20px;
}

.header-user-info button {
    border: none;
    background-color: #fff;
    line-height: 0;
}

.header-user-info .notif-switch-icon {
    width: 1.2rem;
}

.header-user-info .user-avatar-small {
    width: 2.5rem;
    border-radius: 50%;
}

.header-user-info p {
    font-weight: 700;
}

.header-user-greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 10px;
}

.header-user-greeting .user-avatar-large {
    width: 4rem;
    border-radius: 50%;
}

.header-user-greeting p {
    font-weight: 700;
    font-size: 0.8rem;
}

.header-user-greeting .user-name {
    font-size: 1.2rem;
}

.header-btns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.header-btns-container > .header-btn {
    color: #fff;
    background-color: var(--accent-color);

    font-size: 1rem;
    font-weight: 700;

    padding: 6px 20px;
    border: none;
    border-radius: 1.2rem;
}

/* MAIN CONTENT */
.main-content {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);    
    gap: 10px;
    
    padding: 20px 10px;

    background-color: var(--bg-color);
}

.project-card,
.ann-board,
.trend-board {
    background-color: var(--content-color);
    border-radius: 5px;
}

/* projects */
.content-projects {
    grid-row: 1 / -1;
}

.projects-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
}

.project-card {
    display: grid;
    align-content: space-between;
    gap: 10px;

    border-left: orange solid 5px;

    padding: 10px;
}

.project-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-btns-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 10px;
}

.card-btn {
    background: none;
    border: none;
    line-height: 0;
}

.card-btn img{
    width: 1.2rem;
}

/* announcements*/
.ann-board {
    display: grid;
    
    padding: 15px;
}

/* trending */
.trend-board {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    padding: 10px;
}
